In [1]:
import pandas as pd

In [2]:
merge_df = pd.read_csv("~/projects/data/crawling/krx/merge/krx-merge.csv", sep=",")

In [3]:
part1012_df = merge_df[merge_df["date"]<"2022-10-13"].copy(deep=True)

In [4]:
part1012_df.tail()

,com_code,com_name,m_type,close,diff,ratio,open,high,low,volume,value,t_value,t_volume,date
11310099,000547,흥국화재2우B,KOSPI,21000.0,-2500.0,-10.64,23250.0,23250.0,20850.0,5498.0,1.174935e+08,3.225600e+09,153600,2022-10-12
11310100,000545,흥국화재우,KOSPI,6290.0,-230.0,-3.53,6400.0,6400.0,6250.0,1273.0,7.994170e+06,4.830720e+09,768000,2022-10-12
11310101,003280,흥아해운,KOSPI,1835.0,420.0,29.68,1430.0,1835.0,1425.0,21335583.0,3.728019e+10,4.411797e+11,240424899,2022-10-12
11310102,037440,희림,KOSDAQ,8870.0,520.0,6.23,8300.0,9170.0,8280.0,3734478.0,3.296233e+10,1.234924e+11,13922475,2022-10-12
11310103,238490,힘스,KOSDAQ,6180.0,-140.0,-2.22,6380.0,6380.0,6160.0,15304.0,9.528175e+07,6.990962e+10,11312236,2022-10-12

In [5]:
part1012_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11310104 entries, 0 to 11310103
Data columns (total 14 columns):
 #   Column    Dtype
---  ------    -----
 0   com_code  object
 1   com_name  object
 2   m_type    object
 3   close     float64
 4   diff      float64
 5   ratio     float64
 6   open      float64
 7   high      float64
 8   low       float64
 9   volume    float64
 10  value     float64
 11  t_value   float64
 12  t_volume  int64
 13  date      object
dtypes: float64(9), int64(1), object(4)
memory usage: 1.3+ GB

In [6]:
part1012_df.to_csv("~/projects/data/crawling/krx/merge/krx-merge-20221012.csv")